*{
    margin: 0;
    padding: 0;
}
:root{
    --caribe:#1CBBC4;
    --Tech: #0B0033;
    --black20: #3E3B52;
    --black10:#000;
    --gray20: #7D7D7D;
    --white10:#FFF;
    --purple:#684FF8;
    --orange: #FF7000;
}

body{
    background: white;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;    
}

/*#logo{
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}*/
.barra{
    width: 100%;
}

.wrapper{
    margin-left: 10%;
    margin-right: 10%;
}

.instrucciones{
    background: var(--Tech);
    margin-block-start: 10%;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    box-sizing: border-box;
    /*height: 176px;*/
    border-radius: 67px;
    padding: 15px 50px 15px 50px;
}

h1{
    color: var(--white10);
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    margin-block-start: 20px;
    margin-block-end: 20px;
}

.perrito{
    float: right;
    margin-top: -10%;
    margin-right: -10%; 
}

.story{
    width: 100%; 
    box-sizing: border-box;

    border-radius: 10px;
    border: 1px solid var(--Tech);
    background: var(--white10);
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 17px;
    padding: 5px 10px 5px 20px;
    margin-block-start: 20px;
}

.story input{
    margin-block-start: 50px;
    border-color: solid 1px #0B0033 ;
    border-radius: 37px;
    width: 50%;
    height: 50px;
    margin-inline-start: 4%;
}

.story textarea{
    margin-block-start: 50px;
    border-color: solid 1px #0B0033 ;
    border-radius: 37px;
    box-sizing: border-box;
    width: 90%;
    margin-inline-start: 4%;
}

.counter {
    color: var(--gray20);
    font-size: 21px;
    font-weight: 700;
    line-height: 27px;
    width: 50px; 
    box-sizing: border-box;
    margin-inline-start: 0%;
    margin-block-start: 30px;
    display:inline-block;
}

.purple{
    width: 175px;
    height: 48px;
    border-radius: 15px;
    border: none;
    background: var(--purple);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: var(--white10);
    margin-block-end: 50px;
    margin-inline-start: 30%;
}    

.purple:hover{
    box-shadow: 6px 10px 6px -2px #00000040;
    
}    

.purple:focus{
    border-top: 4px solid #0B003350;    
}

.orange{
    width: 175px;
    height: 48px;
    border-radius: 15px;
    border: 2px solid var(--orange) ;
    background: var(--white10);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: var(--orange);
    margin-block-end: 50px;
    margin-inline-start: 30%;
}    

.orange:hover{
    box-shadow: 6px 10px 6px -2px #00000040;
    
}    

.orange:focus{
    border: none;
    background-color: #FF7000;
    color: #FFF;
    
}

